
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #111; 
}

.container {
  width: 50%;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: white;
  margin: 0 0 20px 0;
}

#btn {
  background-color: rgb(239, 239, 242);
  color: rgb(6, 6, 6);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
